<nav class="navbar bg-body-tertiary">
    <div class="container">
        <a class="navbar-brand" href="{% url 'todo:home' %}">
            <img src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="Bootstrap" width="30" height="24">
        </a>
        {% if user.is_authenticated %}
        <p>Hello {{ user.username }}</p>
        <form action="{% url 'accounts:logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Log Out</button>
        </form>
        {% else %}
        <a href="{% url 'accounts:login' %}">Login</a>
        {% endif %}
    </div>
</nav>